doctype html
html
    head
        title UserData
    body
    h2 Your details have been submitted thank you
    <br>
        h3 Name and Surname : #{name}
        h3 Assisted By : #{assistedBy}
        h3 Visitor Age : #{age}
        h3 Date Of Visit : #{date}
        h3 Time Of Visit : #{time}
        h3 Comments : #{comments}